podinfo:
  ui:
    message: "Hello from workload-1 environment"
  replicaCount: 1
  httpRoute:
    enabled: true
    parentRefs:
      - name: gateway
        namespace: default
        sectionName: http
    hostnames: []
    rules:
      - matches:
          - path:
              type: PathPrefix
              value: /podinfo
        filters:
          - type: URLRewrite
            urlRewrite:
              path:
                type: ReplacePrefixMatch
                replacePrefixMatch: /
