extraObjects:
  - apiVersion: v1
    kind: Secret
    metadata:
      name: in-cluster-secret
      namespace: argocd
      labels:
        argocd.argoproj.io/secret-type: cluster
        env: management
    type: Opaque
    stringData:
      name: "in-cluster"
      server: "https://kubernetes.default.svc"
      config: |
        {
          "tlsClientConfig": {
            "insecure": false,
            "caData": ""
          }
        }

server:
  extraArgs:
    - --insecure
  httproute:
    enabled: true
    parentRefs:
      - name: gateway
        namespace: default
    rules:
      - matches:
          - path:
              type: PathPrefix
              value: /

configs:
  cm:
    resource.customizations.health.argoproj.io_Application: |
      hs = {}
      hs.status = "Progressing"
      hs.message = ""
      if obj.status ~= nil then
        if obj.status.health ~= nil then
          hs.status = obj.status.health.status
          if obj.status.health.message ~= nil then
            hs.message = obj.status.health.message
          end
        end
      end
      return hs